<!DOCTYPE html>
<html lang="en">
<head>

    <title>Faves&Hates</title>
</head>
<body>
    <ul>
        <li><a href='/faves/foods'>Favorite Foods</a></li>
        <li><a href='/faves/animals'>Favorite Animals</a></li>
        <li><a href='/hates/foods'>Just Bad Foods</a></li>
        <li><a href='/hates/animals'>Worst Animals</a></li>
      </ul>
    <%- body %> 
</body>
</html>